<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Ustawienie poziomu logowania dla HikariCP na INFO -->
    <logger name="com.zaxxer.hikari" level="INFO" />

    <!-- Inne ustawienia loggerów, jeśli potrzebne -->
    <logger name="io.ktor" level="INFO" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
